@import "tailwindcss";

@theme {
  --color-background: #0a0a0c;
  --color-foreground: #f8fafc;
  --color-primary: #06b6d4;
  --color-secondary: #8b5cf6;
}

:root {
  --background: #0a0a0c;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    @apply border-white/5;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}
